@use "variables" as *;

.footer {
  background: $color-surface;
  border-top: 1px solid $color-border;
}

.footer__container {
  max-width: 1200px;
  margin: 0 auto;

  padding: $space-4;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 12px;
  color: $color-text-secondary;
}